<%= image_tag @project.landscape_url %>
<h2><%= @project.name %></h2>
<h2><%= t('.target_amount', amount: @project.target_amount) %></h2>
<span class="btn btn-secondary"><%= @project.aasm.current_state %></span>
<p><%= @project.short_description %></p>
<p><%= @project.long_description %></p>
<p><%= @project.category.name %></p>
<br>
<%= image_tag @project.thumbnail_url %>

<% if @project.ongoing? %>
  <%= link_to t('.contribute'), new_project_contribution_path(@project), class: "btn btn-primary" %>
<% end %>
