<div>
  <div id="response-spot"></div>
  <%= form_with url: projects_path, id: "payment-form" do |f| %>
    <div class="field form-group">
      <%= f.label :card_number %><br />
      <%= f.text_field :card_number, id: "card_number", class: "form-control" %>
    </div>
    <div class="field form-group">
      <%= f.label :card_exp_date %><br />
      <%= f.text_field :card_exp_date, id: "card_exp_date", class: "form-control" %>
    </div>
    <div class="field form-group">
      <%= f.label :card_cvx %><br />
      <%= f.text_field :card_cvx, id: "card_cvx", class: "form-control" %>
    </div>
    <div class="field form-group">
      <%= f.label :card_type %><br />
      <%= f.text_field :card_type, id: "card_type", class: "form-control" %>
    </div>
    <button class="btn" id="paying-button">Pay</button>
    <%#= f.submit %>
  <% end %>
</div>

<script>
  submitButton = document.querySelector("#paying-button")
  responseSpot = document.querySelector("#response-spot")
  submitButton.addEventListener("click", registerCard)
  function registerCard() {
    mangoPay.cardRegistration.baseURL = "<%= ENV['MANGOPAY_BASE_URL'] %>";
    mangoPay.cardRegistration.clientId = "<%= ENV['MANGOPAY_CLIENT_ID'] %>";

    mangoPay.cardRegistration.init({
      cardRegistrationURL: "<%= @card_attributes['CardRegistrationURL'] %>",
      preregistrationData: "<%= @card_attributes['PreregistrationData'] %>",
      accessKey: "<%= @card_attributes['AccessKey'] %>",
      Id: "<%= @card_attributes['Id'] %>"
    });

    var cardData = {
      cardNumber: document.querySelector("#card_number").value,
      cardExpirationDate: document.querySelector("#card_exp_date").value,
      cardCvx: document.querySelector("#card_cvx").value,
      cardType: document.querySelector("#card_type").value
    };
    console.log(cardData);

    mangoPay.cardRegistration.registerCard(
      cardData,
      function(res) {
        console.log('success')
        responseSpot.addClass('alert');
        responseSpot.innerHTML = "<p>Carte vérifiée et paiement en cours</p>";
          // Success, you can use res.CardId now that points to registered card
      },
      function(res) {
        console.log('failure')
        console.log(res.ResultCode);
        console.log(res.ResultMessage);
        responseSpot.addClass('alert');
        responseSpot.innerHTML = "<p>Carte non débitée</p>";
          // Handle error, see res.ResultCode and res.ResultMessage
      }
    );
  }
</script>
