<%= form_with url: projects_path do |f| %>
  <div class="field form-group">
    <%= f.label :card_number %><br />
    <%= f.text_field :card_number, id: "card_number", class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :card_exp_date %><br />
    <%= f.text_field :card_exp_date, id: "card_exp_date", class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :card_cvx %><br />
    <%= f.text_field :card_cvx, id: "card_cvx", class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :card_type %><br />
    <%= f.text_field :card_type, id: "card_type", class: "form-control" %>
  </div>
  
  <%= f.submit %>
<% end %>

<script>
  mangoPay.cardRegistration.baseURL = "<%= ENV['MANGOPAY_BASE_URL'] %>";
  mangoPay.cardRegistration.clientId = "<%= ENV['MANGOPAY_CLIENT_ID'] %>";

  mangoPay.cardRegistration.init({
    cardRegistrationURL: "<%= @card_attributes['CardRegistrationURL'] %>",
    preregistrationData: "<%= @card_attributes['PreregistrationData'] %>",
    accessKey: "<%= @card_attributes['AccessKey'] %>",
    Id: "<%= @card_attributes['Id'] %>"
  });

  var cardData = {
    cardNumber: document.querySelector("#card_number").value,
    cardExpirationDate: document.querySelector("#card_exp_date").value,
    cardCvx: document.querySelector("#card_cvx").value,
    cardType: document.querySelector("#card_type").value
  };

  mangoPay.cardRegistration.registerCard(
    cardData, 
    function(res) {
        // Success, you can use res.CardId now that points to registered card
    },
    function(res) {
        // Handle error, see res.ResultCode and res.ResultMessage
    }
  );
</script>
  
